[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
mysqlclient = "*"
keras = "*"
matplotlib = "*"
pillow = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"
scikit-learn = "*"
opencv-python = "*"
flask = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
